.-dark {
    background-color: #333;
    color: #fff;
}

.-animate {
    transition: background-color 500ms ease, color 1000ms ease;
}

header {
    background-color: #9993;
}

nav {
    background-color: #555e;
}

a.sidenav-trigger {
    width: 56px;
    text-align: center;
    margin-left: 0;
    border-radius: 32px;
}

.sidenav a, .sidenav i.material-icons {
    color: #fff !important;
}

.sidenav .subheader {
    color: #aaa !important;
}