:root {
    /* The body's background colour. */
    --body: hsl(30, 5%, 6%);
    /* The main background colour. */
    --background: transparent;
    /* The body's background image. */
    --background-image: none;
    /* The text colour. */
    --text: hsl(30, 5%, 90%);
    /* The colour of the header. */
    --header: hsl(30, 5%, 7%);
    /* The colour of the navigation bar. */
    --nav: hsla(30, 5%, 10%, 0.95);
    /* The colour of the footer. */
    --footer: hsla(30, 5%, 8%);
    /* The colour for things like the menu (sidenav) and popups (modals) */
    --popup: hsl(30, 5%, 9%);
    /* The background colour of dropdowns. */
    --dropdown: hsl(30, 5%, 12%);

    --accent: hsl(5, 64%, 56%);

    /* Theme-specific variables */
    --gradient-a: hsl(280, 45%, 60%);
    --gradient-b: hsl(10, 45%, 60%);
    --gradient-size: 4px;
    --gradient-glow-size: 4px;
    --gradient-glow-amt: 83%;
}

@media (prefers-color-scheme: light) {
    :root {
        /* The body's background colour. */
        --body: hsl(30, 5%, 100%);
        /* The main background colour. */
        --background: transparent;
        /* The body's background image. */
        --background-image: none;
        /* The text colour. */
        --text: hsl(30, 5%, 10%);
        /* The colour of the header. */
        --header: hsl(30, 5%, 96%);
        /* The colour of the navigation bar. */
        --nav: hsla(30, 5%, 92%, 0.95);
        /* The colour of the footer. */
        --footer: hsla(30, 5%, 93%);
        /* The colour for things like the menu (sidenav) and popups (modals) */
        --popup: hsl(30, 5%, 95%);
        /* The background colour of dropdowns. */
        --dropdown: hsl(30, 5%, 100%);

        --accent: hsl(5, 60%, 52%);

        /* Theme-specific variables */
        --gradient-a: hsl(290, 75%, 75%);
        --gradient-b: hsl(10, 75%, 75%);
        --gradient-size: 4px;
        --gradient-glow-size: 4px;
        --gradient-glow-amt: 100%;
    }
}

.btn-large {
    font-size: 1.25rem;
    background: transparent;
    border: var(--gradient-size) solid var(--accent);
    color: var(--accent);
    border-radius: 8px;
    height: 48px;
    line-height: 40px;

    box-shadow:  0 0 8px var(--accent),
           inset 0 0 8px var(--accent);
    text-shadow: 0 0 8px var(--accent);

    position: relative;
    transition: .2s color, .2s opacity;
}

.btn-large::before {
    pointer-events: none;
    content: '';
    position: absolute;
    background: var(--accent);
    top: 125%;
    left: 0%;
    width: 100%;
    height: 100%;

    transform: perspective(64px) rotateX(30deg) scale(1, .35);
    filter: blur(30px);
    opacity: .5;
    transition: .15s opacity;
    z-index: -1;
}

.btn-large::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--accent);
    box-shadow: 0 0 32px var(--accent);
    opacity: 0;
    transition: .15s opacity;
    z-index: -1;
}

.btn-large:hover, .btn-large:focus {
    background: transparent;
    box-shadow:  0 0 8px var(--accent),
           inset 0 0 8px var(--accent);
    color: var(--popup);
}

.btn-large:hover::after, .btn-large:focus::after {
    opacity: 1;
}

.btn-large:hover::before, .btn-large:focus::before {
    opacity: .75;
}

.btn-large:active {
    opacity: .83;
}

header h1 {
    text-shadow: none;
}

nav {
    box-shadow: none;
}

nav::before, nav::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    content: '';
    width: 100%;
    height: var(--gradient-size);
    background: linear-gradient(to right, var(--gradient-a), var(--gradient-b));
}

nav::before {
    filter: blur(var(--gradient-glow-size));
    opacity: var(--gradient-glow-amt);
}

header {
    text-shadow: 1px 1px 10px #0006;
}
